<div class="container">

  <div class="row">
    {{#each Article}}
  	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{this.title}}<button type="button" class="btn btn-primary btn-lg btn-save">Save Article</button></h3>
        </div>
        <div class="panel-body"><a href="{{this.link}}">{{this.link}}</a></div>
      </div>
    {{/each}}
  </div>

</div>